<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.actividades">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tusgrupos"/>
        <activity android:name=".formulario" />
        <activity android:name=".unidochallenge" />
        <activity android:name=".info_challenge" />
        <activity android:name=".tus_intereses" />
        <activity android:name=".busqueda" />
        <activity android:name=".principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".contr_grupoxchalenge" />
        <activity android:name=".controlador_pall_infogrupo" />
        <activity android:name=".FiltrarChallenge" />
    </application>

</manifest>